<!DOCTYPE html>
<html>
  <head>
    <title>QR Gtroupie</title>

    <%= stylesheet_link_tag "login" %>
    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "css-inc" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:400,700" %>
  </head>

  <body class="login">
    <div id="site-wrapper">
      <div id="login">
        <header class="site-width login">
          <h1 align="center">
            <a href="<%= request.url %>">
              <span class="tuck">QR GROUPIE</span>
            </a>
          </h1>
        </header><!-- /header -->
        <div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <section id="main-content" class="site-width clearfix">
          <div class="login-header">
            <h2>Login</h2>
          </div>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="field-wrapper">
            <%= f.label :login %>
            <div class="field">
              <%= f.text_field :login %>
            </div>
          </div><!-- /.field-wrapper -->
          
          <div class="field-wrapper">
            <%= f.label :password %>
            <div class="field">
              <%= f.password_field :password %>
            </div>
          </div><!-- /.field-wrapper -->
		
		<div class="remember">	
          <% if devise_mapping.rememberable? -%>
       
          <div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>
		 </div> <!-- /.remember -->
          <div class="login clearfix">
            <%= f.submit "Sign in", :class =>"login-button" %>
          </div>
          <% end %>

        <!--<div class="forgot-stuff">
          <%= render "links" %>
        </div>-->
       </section>

      </div>
    </div><!-- /#site-wrapper -->

        <footer></footer>
  </body>
</html>