<!DOCTYPE html>
<html>
<head>
  <title>Bandscan</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  

</head>

<body>

<p>
	<% if mobile_device? %>
	<%= link_to "Full Site", :mobile => 0 %>
	<% else %>
	<%= link_to "Mobile Site", :mobile => 1 %>
	<% end %>
</p>

<%= yield %>

</body>
</html>
